body {
    font-family: 'Nanum Gothic Coding', monospace;
}
h1{ 
    color:crimson;
    font-family: 'Homemade Apple', cursive;
}    
h2{
    color:coral;
    font-family: 'Nanum Gothic Coding', monospace;
}
h3 {
    color:mediumseagreen;
    font-family: 'Nanum Gothic Coding', monospace;

}
h4{
    color: cornflowerblue;
    font-family: 'Nanum Gothic Coding', monospace;
}
h5{
    color: palevioletred;
    font-family: 'Nanum Gothic Coding', monospace;
}
h6{
    color: peachpuff;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.5em;
}
p{
    color: palevioletred;
    font-size: 1em;
    line-height: 0.5em;
}
.icon{
    color: purple;
    font-size: 69px;
}

header{
    background-color: slategray;
    height: 110px;
    display: flex;
    justify-content: space-between;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li{
    display: inline;
}
    
li a {
     display: inline-block;
     padding: 4px 8px;
}

main{
    background-color: thistle;
    height: 300pt;
}

.bkColorGray{
    background-color: #f7f7f7;
}

.bkSizeLarge{
    height: 200pt;
}

div{
    /* border: 1px lightcoral solid; */
}

footer{
    height: 300px;
    background-color: aquamarine;
}

.row{
    display: flex;
}

.imgRounded{
    border-radius: 50%;
    background-image: url("../Image/54258280_1066979256827121_1849479846132973568_n.jpg");
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;

}

a{
    padding: 10px 50px;
    /* padding-top: 50px */
    /* margin: 30px; */
    /* border: 30px; */
}

.col{
    /* float: left; */
    /* padding: 15px; */
    /*border: 1px solid pink;*/
    /* width: 30%; */   
}

.col-1 {width: 8.33%;}
/*.col-2 {width: 16.66%;}*/
.col-2 {width: calc(100%/6);}
.col-3 {width: 25%;}
/*.col-4 {width: 33.33%;}*/
.col-4 {width: calc(100%/3); 
        padding; 0;
}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}